Pruebas/listas_test.py
Ejercicios_de_los recursos/Semana_7_colecciones_pt2.py
Ejercicios_de_los recursos/Semana_7_colecciones_pt3.py
Ejercicios_de_los recursos/Semana_7_coleciones_pt1.py
Ejercicios_de_los recursos/Semana_7_consideraciones_posteriores.py
